@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Site Navbar */

.site-navbar {
  background-color: #414edf;
}

.site-navbar-item {
  color: white;
}

.navbar-item {
  outline: 0;
}

.company-name {
  font-weight: 700;
  font-size: 33px;
}

.site-navbar-end {
  margin-right: 20px;
  font-size: 20px;
}

.site-navbar-selected {
  font-weight: 700;
}

/* Main Content */

.home,
.about {
  margin: 25px 20% 0;
}

.title {
  text-align: center;
}

.content-image {
  height: 200px;
  width: 200px;

  padding: 10px;
  margin: 20px 0;

  border: 5px solid grey;
  border-radius: 8px;
}

.content {
  margin-bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Shop */

.shop {
  position: relative;
}

.category-link {
  font-size: 22px;
  color: #de673f;
}

.shop-nav {
  position: relative;
  z-index: 2;

  padding: 10px 0;

  background: none;
}

.shop-navbar-selected {
  font-weight: 700;
}

.products {
  width: 60%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  width: 240px;

  margin: 0 5px 50px;
}

.product-image {
  margin: 15px auto;
}

.product-media,
.card-footer {
  text-align: center;
  font-weight: 700;
}

.product-title {
  margin-top: 10px;
}

.product-description {
  text-align: left;
  padding: 14px;
}

.add-to-cart {
  border: 4px solid #8fde3f;
  background-color: #d9f4be;
  color: #4d8316;

  cursor: pointer;
}

.select-quantity {
  height: 100%;
  width: 100%;

  padding: 0;
}

.select-quantity-box {
  width: 100%;
  height: 45px;

  margin: 5%;
  font-size: 22px;
}

/* Shopping Cart */

.shopping-cart {
  position: absolute;

  top: 5px;
  right: 20px;

  z-index: 3;
}

.dropdown-trigger {
  padding: 10px;

  border: 3px solid #c49b21;
  border-radius: 5px;

  background-color: #deb73f;
  color: white;

  font-weight: 700;
  font-size: 22px;

  cursor: pointer;
}

.shopping-cart-item {
  height: 70px;

  padding: 5px 8px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #999999;
}

.shopping-cart-item:hover {
  background-color: #e6e6e6;
}

.shopping-cart-item-image {
  padding: 3px;

  border: 2px solid #404040;
  border-radius: 5px;
}

.item-info {
  width: 180px;

  display: flex;
  flex-direction: column;
}

.item-name {
  font-weight: 700;
  font-size: 18px;
}
